textrank4zh==0.3
lxml==4.4.1
numpy==1.16.4
wordcloud==1.5.0
matplotlib==3.1.1
Flask==1.1.1
Cython==0.29.13
pyOpenSSL==19.0.0
Pillow==6.2.0
brotli==1.0.7
cryptography==2.8
protobuf==3.10.0
importlib_metadata==0.23
ipaddr==2.2.0
keyring==19.2.0
lockfile==0.12.2
mypy_extensions==0.4.3
ordereddict==1.1
pytest==5.2.1
toml==0.10.0
whoosh==2.7.4
wincertstore==0.2
PyYAML==5.1.2
zipp==0.6.0
