<!DOCTYPE html>
<html>
<head>
    <title>文章摘要自动生成</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/pro2.css">
    <link rel=icon href=./static/images/pika.ico>


</head>
<body>

<!-- 导航栏 -->
<div class="navbar navbar-default navbar-static-top navbar-fixed-top">
    <div class="container">
        <!-- 导航条头部元素 -->
        <!--        <div class="navbar-header">-->
        <!--            <button class="navbar-toggle" data-toggle="collapse" data-target="#my_menu">-->
        <!--                <span class="icon-bar"></span>-->
        <!--                <span class="icon-bar"></span>-->
        <!--                <span class="icon-bar"></span>-->
        <!--            </button>-->
        <div class="center"><a href="#" class="navbar-brand">文章摘要自动生成</a></div>
    </div>
</div>
</div><!-- 导航栏 -->

<br>
<br>

<!-- 文本输入栏 -->
<div class="container">
    <div class="jumbotron firstpart">
        <div class="row">
            <div>
                <textarea name="input_text" class="my-input" placeholder="请输入文本" rows="9"
                          style="resize: none;overflow: auto; background-color: #eee;">
中新网北京12月1日电(记者 张曦) 30日晚，高圆圆和赵又廷在京举行答谢宴，诸多明星现身捧场，其中包括张杰(微博)、谢娜(微博)夫妇、何炅(微博)、蔡康永(微博)、徐克、张凯丽、黄轩(微博)等。

30日中午，有媒体曝光高圆圆和赵又廷现身台北桃园机场的照片，照片中两人小动作不断，尽显恩爱。事实上，夫妻俩此行是回女方老家北京举办答谢宴。

群星捧场 谢娜张杰亮相

当晚不到7点，两人十指紧扣率先抵达酒店。这间酒店位于北京东三环，里面摆放很多雕塑，文艺气息十足。

高圆圆身穿粉色外套，看到大批记者在场露出娇羞神色，赵又廷则戴着鸭舌帽，十分淡定，两人快步走进电梯，未接受媒体采访。

随后，谢娜、何炅也一前一后到场庆贺，并对一对新人表示恭喜。接着蔡康永满脸笑容现身，他直言：“我没有参加台湾婚礼，所以这次觉得蛮开心。”

曾与赵又廷合作《狄仁杰之神都龙王》的导演徐克则携女助理亮相，面对媒体的长枪短炮，他只大呼“恭喜！恭喜！”

作为高圆圆的好友，黄轩虽然拍杂志收工较晚，但也赶过来参加答谢宴。问到给新人带什么礼物，他大方拉开外套，展示藏在包里厚厚的红包，并笑言：“封红包吧！”但不愿透露具体数额。

值得一提的是，当晚10点，张杰压轴抵达酒店，他戴着黑色口罩，透露因刚下飞机所以未和妻子谢娜同行。虽然他没有接受采访，但在进电梯后大方向媒体挥手致意。

《我们结婚吧》主创捧场

黄海波(微博)获释仍未出席

在电视剧《咱们结婚吧》里，饰演高圆圆母亲的张凯丽，当晚身穿黄色大衣出席，但只待了一个小时就匆忙离去。

同样有份参演该剧，并扮演高圆圆男闺蜜的大左(微信号：dazuozone) 也到场助阵，28日，他已在台湾参加两人的盛大婚礼。大左30日晚接受采访时直言当时场面感人，“每个人都哭得稀里哗啦，晚上是吴宗宪(微博)(微信号：wushowzongxian) 主持，现场欢声笑语，讲了好多不能播的事，新人都非常开心”。

最令人关注的是在这部剧里和高圆圆出演夫妻的黄海波。巧合的是，他刚好于30日收容教育期满，解除收容教育。

答谢宴细节

宾客近百人，获赠礼物

记者了解到，出席高圆圆、赵又廷答谢宴的宾客近百人，其中不少都是女方的高中同学。

答谢宴位于酒店地下一层，现场安保森严，大批媒体只好在酒店大堂等待。期间有工作人员上来送上喜糖，代两位新人向媒体问好。

记者注意到，虽然答谢宴于晚上8点开始，但从9点开始就陆续有宾客离开，每个宾客都手持礼物，有宾客大方展示礼盒，只见礼盒上印有两只正在接吻的烫金兔子，不过工作人员迅速赶来，拒绝宾客继续展示。


                </textarea>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-6">

                    </div>

                    <div class="col-lg-6">
                        <div style="text-align:right;">
                            <input class="my-buttton" type="reset" name="" value="清空">
                            <input class="my-buttton" type="submit" name="" value="提取">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 			<div class="row">
                        <div class="col-lg-2 col-lg-offset-10" style="padding-right:0">
                            <a href="#" class="btn btn-danger" style="float: right;">提取言论</a>
                        </div>
                    </div> -->
    </div>
</div><!-- 文本输入栏 -->

<br>

<!-- 展示目录栏 -->
<div class="container">
    <span style="font-size:24px;">生成结果</span>
    <hr style="border-top: 2px solid #eee;margin-top: 0px;">
</div><!-- 展示目录栏 -->

<!-- 展示栏 -->
<div class="container">
    <div class="row secondpart">
        <!-- 左侧菜单栏 -->
        <div class="col-md-2 leftmenu">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">摘要生成</a></li>
                <li role="presentation"><a href="#">主题提取</a></li>
                <li role="presentation"><a href="#">关键词提取</a></li>
            </ul>
        </div><!-- 左侧菜单栏 -->

        <!-- 左侧显示栏 -->
        <div class="col-md-10">
            <div class="rightmenu">
                <div class="showpalce" id='mytree'>

                </div>
            </div>
        </div><!-- 左侧显示栏 -->
    </div>
</div><!-- 展示栏 -->

<!-- 添加底部信息 -->
<div id="footer"
     style="background-color:rgba(64,181,255,0.33);clear:both;text-align:center;margin-top: 20px;margin-bottom: 30px;margin-left: 0px;margin-right: 0px;">
    <a href="https://github.com/Valuebai/">2019 &copy; github.com/valuebai</a>
</div>


<!-- 加载javascript -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="./static/js/d3.min.js"></script>
<script src="./static/js/d3-legend.min.js"></script>

<script type="text/javascript" src="./static/js/pro2.js"></script>

<script type="text/javascript" src="https://robot.ownthink.com/bot/js/robot.js?appid=634888b0d26ebd5b4457d2abf2dfaefa"></script>

</body>
</html>