<!DOCTYPE html>

<head>
    <title>文本自动摘要valuebai</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=icon href=../static/images/pika.ico>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>


<body>
<H1 align="center">Welcome to my Home</H1>
<div style="text-align: center;">
    <img src="https://user-images.githubusercontent.com/9695113/58942751-f4a5a100-87b0-11e9-9116-915f85c5f65a.jpg"
         alt="上海鲜花港 - 郁金香"/>
</div>
<div class="absoluteCenter">
    <H3 align="center">耶和华是我的牧者，我必不致缺乏。</H3>
    <H3 align="center">他使我躺卧在青草地上，领我在可安歇的水边。</H3>
    <H3 align="center">他使我的灵魂苏醒，为自己的名引导我走义路。</H3>
    <H3 align="center">我虽然行过死荫的幽谷，也不怕遭害，因为你与我同在；你的杖，你的竿，都安慰我。</H3>
    <H3 align="center">在我敌人面前，你为我摆设筵席；你用油膏了我的头，使我的福杯满溢。</H3>
    <H3 align="center">我一生一世必有恩惠慈爱随着我；我且要住在耶和华的殿中，直到永远。</H3>
    <H3 align="center"> ——诗篇 23</H3>
</div>

<!-- 添加底部信息 -->
<div id="footer"
     style="background-color:rgba(64,181,255,0.33);clear:both;text-align:center;margin-top: 20px;margin-bottom: 30px;margin-left: 0px;margin-right: 0px;">
    <a href="https://github.com/Valuebai/">2019 &copy; github.com/valuebai</a>
</div>


<script type=text/javascript src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript" src="https://robot.ownthink.com/bot/js/robot.js?appid=634888b0d26ebd5b4457d2abf2dfaefa"></script>
</body>

</html>