body{
  padding-top: 70px;
}

#vid-container {
  width:100%;
  height:100%;
  width: 820px;
  height: 461.25px;
  float: none;
  clear: both;
  margin: 2px auto;
}

svg {
 border-radius:5px;
 margin:auto;
 display:block;
}


/*.node text {
  font: 15px sans-serif;
}*/


.link {
  fill: none;
  stroke: #99ccff;
  stroke-width: 2px;
}

.hyper {
color: red;
text-decoration: underline;
}

.hyper:hover {
color:yellow;
text-decoration: none;
}
.selected {
font-weight:bold;
}
.not-selected {
font-weight:normtal;
}

.form-control{
  border-radius: 5;
}
.navbar-default {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

.navbar-inverse{
  background-color: #EEEEEE;
  border-color: #EEEEEE;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{
  border-color:#fff;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 50px;
    padding-left: 50px;
}

.jumbotron:focus{
  box-shadow: 1 ;
}

.my-buttton{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    display: inline-block;
    padding: 6px 18px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
}

.leftmenu{
  background-color:#eee;
  background-color:#eee;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 4px;

}
.rightmenu{
  background-color:#eee;
  border-radius: 6px;
  margin: 0px -15px 0px 15px;
  padding: 25px;
  height: 500px;

}
.firstpart{
  margin-bottom:0px;
}
.secondpart{
    margin-right: 0px;
    margin-left: 0px;
}
.showpalce{
  background-color: #eee;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-left: 50px;
    padding-right: 50px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}



.my-input{
    width: 100%;
    border: 0;
    box-shadow: none;
    outline: none;
}

.my-input:focus {
    border-color: #eee;
    outline: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0 ;
}


.a-upload {
    padding: 6px;
    line-height: 20px;
    position: relative;
    /*cursor: pointer;*/
    color: #888;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}

.a-upload  input {
    position: absolute;
    font-size: 14px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
/*    cursor: pointer;*/
    background: #eee;
    border-color: #ddd;
    text-decoration: none
}

/*主题提取bar属性设置*/
.chart0 div{
  font: 12px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 1px;
  margin: 3px 0px;
  color: white;
}

.chart1 div{
  font: 12px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 1px;
  margin: 3px 0px;
  color: white;
}
.chart0 .chart1{
  width: 100%;
  border: 1px solid black;
}
.col-md-6 p{
  text-align: center;
  font-size: x-large;
  font-style: oblique;
}


.popup{
  width:300px;
  height:44px;
  border:0px solid #000;
  background-color:#fff;
  position:fixed;
  left:50%;
  margin-left:-151px;
  top:50%;
  margin-top:-21px;
  z-index:9999;
  border-radius: 5px;
}
.popup p{
  /*background-color:gold;*/
  margin:2px;
  height:20px;
  text-align: center;
}

.mask{
  position:fixed;
  width:100%;
  height:100%;
  background-color:#000;
  left:0;
  top:0;
  opacity:0.5;
  z-index:9998;
}
.pop_con{
  display:none;
}
